{% extends "layout.html" %}
{% block form_heading %}{% endblock %}
{% block content %}
<h1>{{ self.form_heading() }}</h1>
<form id="form" action="{{ url_for('controller.post') }}" method="POST">
    {% block form_contents %}{% endblock %}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='scripts/jquery-validation/jquery.validate.js')}}"></script>
<script src="{{url_for('static', filename='scripts/jquery-validation/additional-methods.js')}}"></script>
<script src="{{url_for('static', filename='scripts/webform.js')}}"></script>
{% endblock %}
