<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New {{ target_class }}</title>
</head>
<body>
    <h1>Create New {{ target_class }}</h1>
    <form>
        {%- for property in properties %}
        {{ property[0] }}:<br>
        {%- if property[2] %}
        <i>{{ property[2] }}</i><br>
        {%- endif %}
        {%- if property[4] == "radio" %}
        {%- for option in property[5] %}
        <input type="radio" name="{{ property[1] }}" {% if property[3] == option %} checked {% endif %}>{{ option }}<br>
        {% endfor %}
        {% else %}
        <input type="{{ property[4] }}" name="{{ property[1] }}" {% if property[3] %} value="{{ property[3] }}" {% endif %}><br>
        {% endif %}
        <br>
        {%- endfor %}
    </form>
</body>
</html>