{%- macro display_property(property) %}
{%- include "property.html" %}
{%- endmacro -%}
{{ '{% extends "form.html" %}' }}
{{ '{% block form_heading %}' }}Create New {{ form_name }}{{ '{% endblock %}' }}
{{ '{% block form_contents %}' }}
{%- for group in shape["groups"] -%}
<fieldset>
    <legend>{{ group["label"] }}</legend>
    {%- for property in group["properties"] %}
    {{- display_property(property)|indent(8) }}
    {%- endfor %}
</fieldset>
{%- endfor %}
{%- for property in shape["properties"] %}
{{- display_property(property)|indent(4) }}
{%- endfor %}
{{ '{% endblock %}' }}